<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Final Project Bima</title>

    <link href="vendor/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Go</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact-us">Contact Us</a>
            </li>
            
            {{ if eq .isLogin true }}
            <li class="nav-item">
                <a class="nav-link" href="articles">Articles</a>
            </li>
            {{ end }}
        </ul>
        {{ if eq .isLogin true }}
            <a class="btn btn-info" href="logout" role="button">Logout</a>
        {{ else }}
            <a class="btn btn-primary" href="login" role="button">Login</a>
        {{ end }}
    </div>
</nav>

<!-- Body -->
<div class="container">
    <div class="col-md-12">
        <div class="content-home">
            <h1>About</h1>
            <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.</p>
        </div>
        <hr>
    </div>
</div>

<!-- Scripts -->
<script src="vendor/js/jquery-3.4.1.min.js"></script>
<script src="vendor/js/bootstrap.min.js"></script>
<script src="vendor/js/pace.min.js"></script>
<script>$(document).ajaxStart(function() { Pace.restart(); });</script>
</body>
</html>
