<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Final Project Bima</title>

    <link href="vendor/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Go</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contact-us">Contact Us</a>
            </li>
            
            {{ if eq .isLogin true }}
            <li class="nav-item active">
                <a class="nav-link" href="articles">Articles</a>
            </li>
            {{ end }}
        </ul>
        {{ if eq .isLogin true }}
            <a class="btn btn-info" href="logout" role="button">Logout</a>
        {{ else }}
            <a class="btn btn-primary" href="login" role="button">Login</a>
        {{ end }}
    </div>
</nav>

<!-- Body -->

<div class="container">
    <div class="col-md-12">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Create New Article
        </button>

        <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form id="create-article" method="POST">
                <fieldset>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input name="title" type="text" class="form-control" placeholder="Enter title">
                    </div>
    
                    <div class="form-group">
                        <label for="desciption">Desciption</label>
                        <textarea name="desc" class="form-control" rows="3"></textarea>
                    </div>
                    
                    <input type="hidden" name="action" value="create">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
        </div>
        
        <table class="table table-hover">
            <thead>
            <tr style="text-align: center;">
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Is Published</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
                {{ range .listArticles }}
                    <tr style="text-align: center;">
                        <th scope="row">{{ .ID }}</th>
                        <td>{{ .Title }}</td>
                        <td>{{ .Description }}</td>
                        <td style="text-align:  center;">
                            {{ if eq .IsPublished 0 }}
                            <input class="ts" type="checkbox" uid="{{ .ID }}">
                            {{ else }}
                            <input class="ts" type="checkbox" uid="{{ .ID }}" checked="checked">
                            {{ end }}
                        </td>
                        <td>
                            <button type="button" class="btn btn-info btn-sm btn-edit-article" uid="{{ .ID }}">Edit</button>
                        </td>
                        <td>
                            <form id="do-delete" method="POST">
                                <input type="hidden" name="uid" value="{{ .ID }}">
                                <input type="hidden" name="action" value="delete">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="article-title" placeholder="Enter title" required>
            </div>
            <div class="form-group">
                <label for="desc">Description</label>
                <textarea class="form-control" id="article-desc" rows="3"></textarea>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-info btn-modal-edit-article">Edit</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

<!-- Scripts -->
<script src="vendor/js/jquery-3.4.1.min.js"></script>
<script src="vendor/js/bootstrap.min.js"></script>
<script src="vendor/js/pace.min.js"></script>
<script src="vendor/js/notify.js"></script>
<script>
    $(document).ajaxStart(function() { Pace.restart(); });

    // Publish / Un-publish
    $(document).on('click', '.ts', function(e) {
        var uid = $(this).attr('uid');
        var isChecked = $(this).attr('checked');
        var updateTo = null;
        
        if (isChecked && isChecked === "checked") {
            $(this).removeAttr("checked");
            updateTo = "NULL";
        } else {
            $(this).attr("checked", "checked");
            updateTo = "1";
        }

        $.post('articles',
        { 
            uid: uid, 
            updateTo: updateTo, 
            action : "publish", 
        }, 
        function(returnedData) {    
            $.notify("Record successfully updated!", {
                autoHide: true,
                autoHideDelay: 2000,
            });
        });
    });

    // Show Modal Edit
    $(document).on('click', '.btn-edit-article', function(e) {
        var uid = $(this).attr('uid');
        var title = $(this).parent().parent().children().first().next().text();
        var desc = $(this).parent().parent().children().first().next().next().text();
        $('.modal-title').text('Edit Article with ID: ' + uid);
        $('#article-title').val(title);
        $('#article-desc').val(desc);
        $('.btn-modal-edit-article').attr('uid', uid);
        $('#myModal').modal('toggle');
    });

    // Edit Article
    $(document).on('click', '.btn-modal-edit-article', function(e) {
        if (!confirm('Are you sure you want to edit this?')) {
            e.preventDefault();
            return;
        }

        var uid = $(this).attr('uid');
        var title = $('#article-title').val();
        var desc = $('#article-desc').val();

        $.post('articles',
        { 
            uid: uid, 
            title: title,
            desc: desc, 
            action : "edit", 
        }, 
        function(returnedData) {
            $.notify("Record successfully updated!", {
                autoHide: true,
                autoHideDelay: 2000,
            });
            location.reload();
        });
    });

    // Delete Article
    $(document).on('submit', '#do-delete', function(e) {
        if (!confirm('Are you sure you want to delete this?')) {
            e.preventDefault();
        }
    });

    // Create Article
    $(document).on('submit', '#create-article', function(e) {
        if (!confirm('Are you sure?')) {
            e.preventDefault();
        }
    });
    
</script>
</body>
</html>
