<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Go Final Project Bima</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Go</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="contact-us">Contact Us</a>
            </li>
            
            {{ if eq .isLogin true }}
            <li class="nav-item">
                <a class="nav-link" href="articles">Articles</a>
            </li>
            {{ end }}
        </ul>
        {{ if eq .isLogin true }}
            <a class="btn btn-info" href="logout" role="button">Logout</a>
        {{ else }}
            <a class="btn btn-primary" href="login" role="button">Login</a>
        {{ end }}
    </div>
</nav>

<!-- Body -->
<div class="container">
    <div class="col-md-12">
    {{ $alert := "default"}}
        {{ range .responsePage }}
            {{ if eq .TypeResponse "success" }}
                <div class="alert alert-dismissible alert-info col-md-8 offset-md-2">
                    <span class="alert-heading"><strong>{{ .ResponseMessage }}</strong></span>
                </div>
            {{ else }}
                <div class="alert alert-dismissible alert-danger col-md-8 offset-md-2">
                    <span class="alert-heading"><strong>{{ .ResponseMessage }}</strong></span>
                </div>
            {{ end }}
        {{ end }}
        <form method="POST">
            <fieldset>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>

                <div class="form-group">
                    <label for="exampleTextarea">Message</label>
                    <textarea name="message" class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
</div>

<!-- Scripts -->
<script src="vendor/js/jquery-3.4.1.min.js"></script>
<script src="vendor/js/bootstrap.min.js"></script>
<script src="vendor/js/pace.min.js"></script>
<script>$(document).ajaxStart(function() { Pace.restart(); });</script>
</body>
</html>
